@media screen and (max-width:737px){

  .grid{
    width: 100%;
  }
  
  #logo{
    float: none;
    margin: auto;
    max-width: 100%;
    display: block;
  }
  
  .header-nav a{
    padding: 2px 0;
    width: 50%;
  }
  
  
  .slide{
    padding-bottom: 20px;
  }
  
  .image-caption, .slide5 .image-caption{
    height: auto;
  }
  
  .image-caption img{
    width: 100%;
  }
  
  .image-caption span{
    font-size: 26px;
    margin: -90px 0 90px;
  }
  
  .copy{
    padding: 0 5%;
    font-size: 16px;
    line-height: 24px;
  }
  
  #team, #contact{
    padding: 0 5%;
  }
  
  .bio{
    float: none;
    width: 100%;
  }
  
  .bio img{
    margin-left: 0;
    width: 20%;
    border: 0;
  }
  
  .info-area{
    margin: 0 0 7.5% 5%;
    width: 75%;
  }
  
  .work{
    float: none;
    width: 100%;
    display: block;
    min-height: 100px;
  }
  
  .work img{
    float: left;
    width: 30%;
    margin-right: 5%;
  }
  
  .work span{
    width: 65%;
    float: left;
  }
  
  
  .person .name, .person .title, .email{
    font-size: 18px;
    line-height: 20px;
    margin-top: 3px;
  }
  
  .person .title, .email, .person{
    font-size: 14px;
    line-height: 18px;
  }
  
  .email{
    margin-bottom: 5px;
  }
  
  .slide5 .image-caption img{
    height: auto;
    width: 100%;
  }
  
  .img-right{
    float: none;
    margin: auto;
    display: block;
    text-align: center;
    width: 80%;
  }
  
  .copy-right{
    margin: auto;
  }
  
  .contact-right {
    margin: auto;
    width: 80%;
  }
  
  
  
  
  
  .bio:after, .work:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
 
  
  
}