<title>Ari Halper, CCO | FCB New York</title>
<meta property='og:description' content="Meet Ari Halper, CCO | FCB New York" />


<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li><a ui-sref="about" style="cursor:w-resize" onclick="scroll(0,400)">ABOUT</a></li>
        <li>/</li>
        <li><strong><u>LEADERSHIP</u></strong></li>
      </ul>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <!--<div id="leadership" class="row body leadership">
    </div>-->
      <div class="col-md-12"><img src="app/images/leadership/ari-halper.jpg" width="300" title="Ari Halper, CCO | FCB New York" onclick="scroll(0,0)" ></div>
  </div>
</div>
<div class="about-leadership-header">
  <div class="container">
    <div class="col-md-12">
      <h4>Ari Halper</h4>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <h4>Chief Creative Officer</h4>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <p>
        Ari comes most recently from Grey New York, where he contributed in no small part to the agency’s success and to its being named Agency of the Year in 2013 by Ad Age, Adweek, and Shoot magazines.
      </p>
      <p>
        His most notable contributions were fathering the E*TRADE Baby, creating the most loved advertising campaign in the country two years in a row (2004 and 2005) for Dairy Queen, making Canon a fixture in Hollywood and in Cannes, scoring record sales for DIRECTV, intercepting the Super Bowl for Volvo, and taking on the hot-button issue of gun control. But most importantly, Ari led his team to grow revenue (by more than six times over) in just five years, all while winning a total of 36 Cannes Lions (across 12 different disciplines), not to mention Effies, Emmy’s and even a shortlist at the Oscars.
      </p>
      <p>
        Prior to Grey, Ari was VP, Associate Creative Director at JWT New York, where some of his clients included Cadbury Adam’s, Bermuda Tourism, Domino’s, Lipton, Malibu Rum, Merrill Lynch, and more. At DDB Chicago as Associate Creative Director, Ari created work for clients including Bud Light, Budweiser, Discover, McDonald’s, and Wilson.
      </p>
      <p>
        He is a graduate of Syracuse University.
      </p>
    </div>
  </div>
</div>