<title>Deb Freeman, CSO | FCB New York</title>
<meta property='og:description' content="Meet Deb Freeman, CSO | FCB New York" />



<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li><a ui-sref="about" style="cursor:w-resize" onclick="scroll(0,400)">ABOUT</a></li>
        <li>/</li>
        <li><strong><u>LEADERSHIP</u></strong></li>
      </ul>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <!--<div id="leadership" class="row body leadership">
    </div>-->
      <div class="col-md-12"><img src="app/images/leadership/deb-freeman.jpg" width="300" title="Deb Freeman, CSO | FCB New York" onclick="scroll(0,0)" ></div>
  </div>
</div>
<div class="about-leadership-header">
  <div class="container">
    <div class="col-md-12">
      <h4>Deb Freeman</h4>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <h4>Chief Strategy Officer</h4>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <p>
        Deb is realizing her dream at FCB New York and putting it into action helping clients define and realize their ambition to help make people’s lives and the world at large better. Deb is a consummate culture vulture and applies her passion to the brands she works on to help them create meaningful value in the world outside of what they sell. She is an agent of provocation, constantly pushing clients to break conventions, but always with a thoughtfulness and intelligence for what’s right for the business . T.J. Maxx, Canon, Coca-Cola, Sundance, 3M, and Pantene are just a few of the brands Deb has helped reimagine. Deb is a “why?” person to the core and, while that can makes her somewhat annoying to her family and colleagues who feel like they are constantly involved in an ongoing ethnography study, it makes her an inspiring leader for the whole agency and for her clients.
      </p>
    </div>
  </div>
</div>
  <script type="text/javascript">
  //Scroll to Sections
  $(".leadership-btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#leadership-section").offset().top},
        'slow');
    $("#leadership-section .leadership-btn").css("color","#d72037");
    //$("#office-section .office-btn").css("color","#302a29");
    //$("#clients-section .clients-btn").css("color","#302a29");
  });
  $(".office-btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#office-section").offset().top},
        'slow');
    $("#office-section .office-btn").css("color","#d72037");
    //$("#leadership-section .leadership-btn").css("color","#302a29");
    //$("#clients-section .clients-btn").css("color","#302a29");
  });
  $(".clients-btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#clients-section").offset().top},
        'slow');
    $("#clients-section .clients-btn").css("color","#d72037");
    //$("#leadership-section .leadership-btn").css("color","#302a29");
    //$("#office-section .office-btn").css("color","#302a29");
  });
  </script>