<title>Karyn Rockwell, CEO | FCB New York</title>
<meta property='og:description' content="Meet Karyn Rockwell, CEO | FCB New York" />



<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <li><a ui-sref="about" style="cursor:w-resize" onclick="scroll(0,400)">ABOUT</a></li>
        <li>/</li>
        <li><strong><u>LEADERSHIP</u></strong></li>
      </ul>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <!--<div id="leadership" class="row body leadership">
    </div>-->
      <div class="col-md-12"><img src="app/images/leadership/karyn-rockwell.jpg" width="300" title="Karyn Rockwell, CEO | FCB New York" onclick="scroll(0,0)" ></div>
  </div>
</div>
<div class="about-leadership-header">
  <div class="container">
    <div class="col-md-12">
      <h4>Karyn Rockwell</h4>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <h4>Chief Executive Officer</h4>
    </div>
  </div>
</div>
<div class="about-leadership">
  <div class="container">
    <div class="col-md-12">
      <p>
        Karyn likes to say that “all she needed to know she learned in gymnastics.” Having been a competitor and captain of the gymnastics team, Karyn is convinced that a team mentality is critical to success in business. There’s nothing more powerful than galvanizing people with different skill sets and shared values to collaborate on realizing the same end goal. 
      </p>
      <p>
        With that spirit, Karyn has led global and regional brands ranging from social/new media to packaged goods to military services.  Some marquee clients include Mondelēz, YouTube, the U.S. Army, Coca-Cola, Starwood Hotels &amp; Resorts, Kimberly-Clark, and Royal Caribbean.
      </p>
      <p>
        At FCB New York, we not only have a team mentality, we also combine that with a culture of creativity.  Because we believe creative is everyone’s job. It’s the product we sell and we don’t want to leave that problem to creatives alone to solve. Great ideas come from anyone and anywhere.  So, at FCB New York, we create what we call dream teams – people who make things that matter and make a difference in the world.
      </p>
      <p>
        As Malala Yousafsai so perfectly said, "Let us make our future now, and let us make our dreams tomorrow's reality."
      </p>
    </div>
  </div>
</div>