<div class="b-sides">

<h1>{{title}}</h1>
<h2>custom designed jackets mostly one of a kind </h2>

<button><a href="mailto:nekopaco@yahoo.com?subject=Thanks%20for%20your%20interest%20in%20B-Sides%20Denim!&body=The%20price%20for%20each%20Jacket%20varies%20depending%20on%20structure.
%20They%20are%20whatever%20you%20want%20them%20to%20be.
%20Jackets%20are%20made%20to%20order.%20If%20you%20have%20any%20inspirations:%20Photos,%20Images,%20or%20Ideas-%20please%20include.%20Comments,%20Suggestions%20and%20Inquiries%20are%20most%20welcome.%20Thanks%20for%20your%20email.%20I%20will%20be%20in%20touch.%20718-308-0455" >ORDER</a></button>	


<p>The price for each Jacket varies depending on structure. They are whatever you want them to be. </p>
<p>Jackets are made to order. </p>
<p>If you have any inspirations: Photos, Images, or Ideas- please include. Comments, Suggestions and Inquiries are most welcome. </p>
<p>Thanks for your email. </p>
<p>I will be in touch. 				<a class="" href="7183090455" target="_blank">718-309-0455</a>


</div>

 

