<div class="b-sides">
<!-- gallery http://codepen.io/jeffpannone/pen/GpKOed -->
  <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status"></div>
      <img class="preload" src="img/donivon2.png" alt="">
    </div> -->
<div id="wrapper" class="wrapper">
	<h1>B-Sides Denim</h1>

<!-- <a class="img-link" href="img/adamant.JPG">				adamant.JPG</a>
<a class="img-link" href="img/aliyah.JPG">				aliyah.JPG</a>
<a class="img-link" href="img/hat-full-of-hollow.jpg">		hat-full-of-hollow.jpg</a>
<a class="img-link" href="img/joanjett.JPG">			joanjett.JPG</a>
<a class="img-link" href="img/madonna-pink.JPG">		madonna-pink.JPG</a>
<a class="img-link" href="img/sidvicious.JPG">				sidvicious.JPG</a>
<a class="img-link" href="img/the-smiths.JPG">			the-smiths.JPG</a>
<a class="img-link" href="img/thecure.JPG">				thecure.JPG</a>
<a class="img-link" href="img/thesmiths.JPG">			thesmiths.JPG</a>
<a class="img-link" href="img/whokilledmm.jpg">				whokilledmm.jpg</a>
 -->
 <br><br><br>
<a href="marlyn-cover.jpg" target="_blank"><img src="marlyn-cover.jpg" alt="marlyn-cover" title="marlyn-cover"></a>
<a href="hat-full-of-hollow.jpg" target="_blank"> <img src="hat-full-of-hollow.jpg" alt="hat-full-of-hollow" title="hat-full-of-hollow"></a>
<a href="joanjett.jpg" target="_blank"> <img src="joanjett.jpg" alt="joanjett" title="joanjett"></a>
<a href="the-smiths.jpg" target="_blank"> <img src="the-smiths.jpg" alt="the-smiths" title="the-smiths"></a>
<a href="sidvicious.JPG" target="_blank"> <img src="sidvicious.JPG" alt="sidvicious" title="sidvicious"></a>

<a href="img/thecure.jpg" target="_blank"> <img src="thecure.jpg" alt="thecure" title="thecure"></a>
<a href="whokilledmm.jpg" target="_blank"> <img src="whokilledmm.jpg" alt="whokilledmm" title="whokilledmm"></a>

<a href="img/lady-gaga-2.jpg" target="_blank"> <img src="lady-gaga-2.jpg" alt="lady-gaga" title="lady-gaga"></a>
<!-- <img src="img/lady-gaga-2.JPG" alt=""> -->
<a href="morrrissey.jpg" target="_blank"> <img src="morrrissey.jpg" alt="morrrissey" title="morrrissey"></a>
<a href="adamant-red.jpg" target="_blank"> <img src="adamant-red.jpg" alt="adamant-red" title="adamant-red"></a>
<!-- <img src="img/smiths.jpg" alt=""> -->
<a href="black-flag.jpg" target="_blank"> <img src="black-flag.jpg" alt="black-flag" title="black-flag"></a>
<a href="scissor-sisters.jpg" target="_blank"> <img src="scissor-sisters.jpg" alt="scissor-sisters" title="scissor-sisters"></a>
<!-- <a href="cure-wear.jpg" target="_blank"><img src="cure-wear.jpg" alt="cure-wear" title="cure-wear"></a>
 --><a href="letters-blue.jpg" target="_blank"><img src="letters-blue.jpg" alt="letters-blue" title="letters-blue"></a>
<a href="mad-red.jpg" target="_blank"><img src="mad-red.jpg" alt="mad-red" title="mad-red.jpg"></a>
<a href="madonna-purple.jpg" target="_blank"><img src="madonna-purple.jpg" alt="madonna-purple" title="madonna-purple"></a>

<a href="pink-pop.jpg" target="_blank"><img src="pink-pop.jpg" alt="pink-pop" title="pink-pop"></a>
<a href="the-smiths-red.jpg" target="_blank"><img src="the-smiths-red.jpg" alt="the-smiths-red" title="the-smiths-red"></a>
<a href="wear.jpg" target="_blank"><img src="wear.jpg" alt="wear" title="wear"></a>


</div>
</div>
