<!-- Features Section 3 -->
<section id="features-3" class="content-section text-center">
    <div class="features-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="capture-title" id="capture">
                A CONTENT MARKETING TOOL TO TELL YOUR <span class="blue-text-light">STORIES</span></h2>
                <h3 class="list-title list-title2">The people that work with you have tales to tell - leverage them to gather: </h3>
    <!-- Phone Section 3 -->
                <div class="iphone-container phone-2"> 
                    <img class="iphone-frame" src="http://laf.land/wevue-angular/img/phone.png" alt="WeVue App in Appple iphone: Phone" />
                    <div class="iphone-inner">
                        <img src="http://laf.land/wevue-angular/img/create-a-vue.jpg" class="iphone-screenshot" alt="WeVue App in Appple iphone: display Create a Vue, edit, save" />
                    </div>
                </div>
                <ul class="features-list list-left">
                    <li class="mobile-list-left li fa-edit">Customer testimonials</li>
                    <li class="mobile-list-left li fa-play-circle-o"> Product demos</li>
                    <li class="li os-animation fa-share-alt">Cultural content for recruiting purposes</li>
                    <li class="li os-animation fa-list-alt">Highlights from trade shows and expos</li>
                    <li class="mobile-list-left li fa-file-video-o">Visuals that show what your company is all about</li>
                </ul>
            </div>
        </div>
    </div>
</section>
 



