  <!-- Features Section 3 -->
            <section id="features-3" class="content-section text-center">
                <div class="features-section">
                    <div class="container">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="">
                            A CONTENT MARKETING TOOL TO TELL YOUR <span class="blue-text-light os-animation" data-os-animation="pulse" data-os-animation-delay=".2s">STORIES</span></h2>
                            <h3 class="list-title list-title2 os-animation toBeAnimated" data-os-animation="fadeIn" data-os-animation-delay=".4s">The people that work with you have tales to tell - leverage them to gather: </h3>
        <!-- Phone Section 3 -->
                            <div class="iphone-container phone-2 pull-right os-animation toBeAnimated" data-os-animation="fadeIn" data-os-animation-delay=".3s"> 
                                <img class="iphone-frame" src="../img/phone.png" alt="WeVue App in Appple iphone: Phone" />
                                <div class="iphone-inner">
                                    <img src="../img/create-a-vue.jpg" class="iphone-screenshot" alt="WeVue App in Appple iphone: display Create a Vue, edit, save" />
                                </div>
                            </div>
                            <ul class="features-list list-left">
                                <li class="mobile-list-left li os-animation fa-edit" data-os-animation="fadeIn" data-os-animation-delay=".2s">Customer testimonials</li>
                                <li class="mobile-list-left li os-animation fa-play-circle-o" data-os-animation="fadeIn" data-os-animation-delay=".5s"> Product demos</li>
                                <li class="li os-animation fa-share-alt" data-os-animation="fadeIn" data-os-animation-delay=".8s">Cultural content for recruiting purposes</li>
                                <li class="li os-animation fa-list-alt" data-os-animation="flipInX" data-os-animation-delay="1.1s">Highlights from trade shows and expos</li>
                                <li class="mobile-list-left li os-animation fa-file-video-o" data-os-animation="fadeIn" data-os-animation-delay="1.5s">Visuals that show what your company is all about</li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
            </section>
 



