<!-- Features Section 1 -->
<section id="features-1" class="content-section text-center">
    <div class="features-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="feature-1-title" >A PRIVATE <span class="blue-text">NETWORK</span> FOR YOUR COMPANY</h2>
                <h3 class="list-title list-title2">  Communicating and collaborating with photos, videos, and text will change the way you:</h3>
<!-- Phone Section 1 -->
               <div class="container-android gif-f1 align_left">
                    <img class="phone-android" src="img/phone_white.png" alt="WeVue App in Android phone: Phone" />
                    <div id="inner" class="inner aniamated fadeInDown">
                        <img class="feed-android album-nav" style="z-index: 30;" src="img/album-navigation.png" alt="WeVue App in Android phone: Navigation" />
                        <img class="feed-android move-up object" src="img/feed.jpg" alt="WeVue App in Android phone: Gallery feed scroll" />
                    </div>
                </div>        
                <ul class="features-list list-right">
                    <li class="li fa-users os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">Introduce new hires</li>
                    <li class="li fa-comments-o" >Announce sales wins</li>
                    <li class="li fa-share-alt">Showcase your employer brand to new recruits</li>
                    <li class="li fa-globe" >Share company events</li>
                    <li class="li fa-bullhorn">Broadcast what’s happening with video and <em class="blue-text animated pulse">push</em> notifications</li>
                </ul>
            </div>
        </div>
    </div>
</section>
  <script type="text/javascript">

// activates animate.css classes on scroll 
onScrollInit( $('.os-animation') );


function onScrollInit( items, trigger ) {
  items.each( function() {
    var osElement = $(this),
        osAnimationClass = osElement.attr('data-os-animation'),
        osAnimationDelay = osElement.attr('data-os-animation-delay');
 
    osElement.css({
        '-webkit-animation-delay':  osAnimationDelay,
        '-moz-animation-delay':     osAnimationDelay,
        'animation-delay':          osAnimationDelay
    });
 
    var osTrigger = ( trigger ) ? trigger : osElement;
 
    osTrigger.waypoint(function() {
        osElement.addClass('animated').addClass(osAnimationClass);
    },{
        triggerOnce: true,
        offset: '90%'
    });
  });
}

// activates animate.css classes on scroll 

 onScrollInit( $('.os-animation') );
 onScrollInit( $('.staggered-animation'), $('.staggered-animation-container') );



  </script>