<!-- Features Section 1 -->
<section id="features-1" class="content-section text-center">
    <div class="features-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="feature-1-title">A PRIVATE <span class="blue-text">NETWORK</span> FOR YOUR COMPANY</h2>
                <h3 class="list-title list-title2">  Communicating and collaborating with photos, videos, and text will change the way you:</h3>
<!-- Phone Section 1 -->
               <div class="container-android gif-f1 align_left phone-container-x ">
                    <img class="phone-android" src="http://laf.land/wevue-angular/img/phone_white.png" alt="WeVue App in Android phone: Phone" />
                    <div id="inner" class="inner aniamated fadeInDown">
                    <img class="feed-android album-nav" style="z-index: 30;" src="http://laf.land/wevue-angular/img/album-navigation.png" alt="WeVue App in Android phone: Navigation" />
                    <img class="feed-android move-up object" src="http://laf.land/wevue-angular/img/feed.jpg" alt="WeVue App in Android phone: Gallery feed scroll" />
                    </div>
                </div>        
                <ul class="list-x">
                    <li class=" fa-users">Introduce new hires</li>
                    <li class=" fa-comments-o" >Announce sales wins</li>
                    <li class=" fa-share-alt">Showcase your employer brand to new recruits</li>
                    <li class=" fa-globe" >Share company events</li>
                    <li class="fa-bullhorn">Broadcast what’s happening with video and <em class="blue-text animated pulse">push</em> notifications</li>
                </ul>
            </div>
        </div>
    </div>
</section>
