<!-- Footer -->
<footer>
   <div class="container-nav">
        <nav class="nav-justify">
            <ul>
                <li><a href="" class="footer">Press</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer">Privacy</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer"><span class="copyright">Copyright</span> &copy; WeVue 2015</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer">Terms</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer">Blog</a></li>
            </ul>
        </nav>
    </div>
</footer>
