<!-- Footer -->
<footer>
   <div class="container-nav">
        <nav class="nav-justify">
            <ul>
                <li><a href="" class="footer">Press</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer" data-toggle="modal" data-target=".modal-story">Privacy</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer"><span class="copyright">Copyright</span> &copy; WeVue 2015</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer" data-toggle="modal" data-target=".modal-team">Terms</a></li>
                <li><a href="" class="footer footer-pipe">|</a></li>
                <li><a href="" class="footer">Blog</a></li>
            </ul>
        </nav>
    </div>
</footer>
<style type="text/css">
    
    .container-nav{
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
}

.nav-justify ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    text-align:justify;
}


.nav-justify ul li {
    display: inline-block;


}

.nav-justify ul:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;

}
.nav-justify ul li a {
    background-color: #ccc;


}
</style>