<!-- Contact Section -->
<section id="contact"  class="container content-section text-center" >
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 id="fade-success" class="learn-more os-animation inset-shadow" data-os-animation="fadeIn" data-os-animation-delay=".1s">Want to learn more about WeVue<span class="os-animation" data-os-animation="tada" data-os-animation-delay="2.5s">?
            </span></h2>
            <p class="contact os-animation inset-shadow" data-os-animation="fadeIn" data-os-animation-delay="1.8s">Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
<!-- Email Link -->
            <p><a class="email" href="mailto:info@wevue.com">info@wevue.com</a></p>
            <h3 class="success-message center-block toBeAnimated" id="success">
              <span style="color:#fff"> Thanks!</span><br />Our Team will be in touch !
            </h3> 
            <div class="form-area btn btn-default btn-lg toBeAnimated os-animation" data-os-animation="pulse" data-os-animation-delay=".1s" id="form">
            Request Demo    
<!-- Angualr form  -->
                <div>
                    <div>
                        <form  novalidate class="animated">
                            <input 
                                type="text" 
                                data-ng-model="user.Name"
                                class="form-control" 
                                id="Name" 
                                placeholder="Your Name" 
                                required /><br />
                            <input 
                                type="email" 
                                data-ng-model="user.Email" 
                                class="form-control toBeAnimatedFast" 
                                id="Email" 
                                placeholder="Company Email" 
                                required /><br />
                            <input 
                                type="text" 
                                data-ng-model="user.PhoneNumber"
                                class="form-control toBeAnimatedFast2 "
                                id="Number"
                                placeholder="Phone - (optional)" /><br />
                            <input 
                                id="submit"
                                class="enable btn-default btn-lg os-animation" 
                                type="submit" 
                                data-ng-click="update(user)" 
                                value="Send"
                                data-os-animation="pulse" 
                                data-os-animation-delay=".1s"
                                disabled="disabled"/>   
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="width:80%; font-size:3em;">
            <nav class="nav-justify" >
                <ul class="social">
                    <li><a class="twitter os-animation" data-os-animation="pulse" data-os-animation-delay="2.1s"  href="http://www.twitter.com/wevue" title="Twitter"><i class="fa fa-twitter inset-shadow"></i></a></li>
                    <li><a class="facebook os-animation" data-os-animation="pulse" data-os-animation-delay="2.4s"  href="http://www.facebook.com/wevue" title="Facebook"><i class="fa fa-facebook inset-shadow"></i></a></li>
                    <li><a class="linkedin os-animation" data-os-animation="pulse" data-os-animation-delay="2.7s"  href="http://www.linkedin.com/company/wevue" title="LinkedIn"><i class="fa fa-linkedin inset-shadow"></i></a></li>
                    <li><a class="google-plus os-animation" data-os-animation="pulse" data-os-animation-delay="3s"  href="https://plus.google.com/104054240207237778608/about" title="Google+"><i class="fa fa-google-plus inset-shadow"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>