

<img id="top" src="img/wevue-logo-w-text.png" class="intro_logo" /> 
<h3  style="

background: url('img/new-intro.jpg') no-repeat bottom center scroll;
     background-color: white;
  opacity: .9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;" class="elevator">Your culture is your people<br>
Your culture is your products and your brand<br>
Your culture is how you identify who you are and what you do. <br><br>

WeVue is the platform to capture that identity and showcase it to the world. </h3><br>
<a href="#/#mc_embed_signup"><button class="into-button button-1">learn more</button></a>
 <div ng-include="'templates/whatwedo.html'" ></div>
      <div ng-include="'templates/sign-up.html'" ></div>

