<div class="nav-container">
    <div class="email-input pull-left">
        
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background: none; clear:left; font:14px 'Roboto', sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//wevue.us7.list-manage.com/subscribe/post?u=fa8895f6d93c443ce52470c50&amp;id=cba6d6a30c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Request a Demo</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fa8895f6d93c443ce52470c50_cba6d6a30c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->


    </div>
    <ul class="navbar-custom pull-right nav nav-pills">
        <li>
            <a class="page-scroll os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"ui-sref="intro">About</a>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Features <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="capture">Capture</a></li>
                <li><a ui-sref="enhance">Enhance</a></li>
                <li><a ui-sref="promote">Promote</a></li>
            </ul>
        </li>
        <li>
            <a class="os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s"  ui-sref="team">Team</a>
        </li>
        <li>
            <a class="os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s" ui-sref="our-story">Our Story</a>
        </li>
    </ul>
</div>

