<input class="pull-left"></input>



<ul class=" pull-right nav nav-pills">
    <li>
        <a class="page-scroll os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"ui-sref="intro">About</a>
    </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      Features <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="capture">Capture</a></li>
        <li><a ui-sref="enhance">Enhance</a></li>
        <li><a ui-sref="promote">Promote</a></li>
    </ul>
  </li>
    <li>
        <a class="os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s"  ui-sref="team">Team</a>
    </li>
    <li>
        <a class="os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s" ui-sref="our-story">Our Story</a>
    </li>

</ul>

