<!-- Features Section 2 -->
<section id="features-2" class="feature-bk-height content-section text-center">
    <div class="features-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="salmon" id="promote">
                A BRANDED APP FOR YOUR <span class="blue-text-med">PEOPLE</span></h2>
                <h3 class="list-title list-title2">Once your employees log in with their company email, the app is yours</h3>
<!-- Phone Section 2 -->
                <div id="phone-2" class="iphone-container">
                    <img class="iphone-frame" src="http://laf.land/wevue-angular/img/phone.png" alt="WeVue App in Appple iphone: Phone" />
                    <div class="iphone-inner">
                        <img src="http://laf.land/wevue-angular/img/branded-screen-3.png" class="iphone-screenshot" alt="WeVue App in Appple iphone: display WeVue logo to fade out on animation load" />   
                        <img src="http://laf.land/wevue-angular/img/background-app.jpg" class="iphone-screenshot branding-img" alt="WeVue App in Appple iphone: branded sceen shot" />
                        <img src="http://laf.land/wevue-angular/img/branded-screen-4.jpg" class="iphone-screenshot branding-img" alt="WeVue App in Appple iphone: branded screen shot" />
                        <img src="http://laf.land/wevue-angular/img/branded-screen-3.png" class="iphone-screenshot" alt="WeVue App in Appple iphone: display WeVue logo to fade out on animation load" />         
                    </div>
                </div>
                <ul class="list-left features-list">
                    <li class="li mobile-list-left fa-code-fork fa-lock">Custom theme with a color scheme to match your branding</li>
                    <li class="li fa-lock">Secure and only accessible by your employees</li>
                    <li class="li fa-check-square-o">Flexible privacy settings to fit your social media policies</li>
                    <li class="li fa-compass">Connects disparate workforces visually</li>
                    <li class="mobile-list-left li fa-star">Hold contests to engage employees anywhere, anytime</li>
                </ul>        
            </div>
        </div>
    </div>
</section>

