<section id="about" class="container content-section text-center">
  <div class="row">


    <h1 ui-sref="capture" class="pitch"> WHAT WE CAN DO FOR YOUR CULTURE</h1>
    <a  ui-sref="capture">
      <div class="pull-left thumbnail-container tumbnail">
        <h3 class="title">Capture</h3>
        <img src="img/svg-capture.svg" class="svg  ">


        <div class="caption">
          <p class="channel-text">Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
         <button id="button1" class="button-1">learn more</button>
      </div>
    </a>






    <a ui-sref="enhance">
      <div class="pull-left thumbnail-container tumbnail">
        <h3 class="title">Enhance</h3>
        <img src="img/svg-flex.svg" class="svg">



 


        <div class="caption">
          <p class="channel-text">Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <button id="button2" class="button-1">learn more</button>
      </div>
    </a>





    <a ui-sref="promote">
      <div class="pull-left thumbnail-container tumbnail">
        <h3 class="title">Promote</h3>
        <img src="img/svg-horn.svg" class="svg ">

        <div class="caption">
          <p class="channel-text">Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
       <a href="#form" ><button  id="button3" class="button-1">learn more</button></a>
      </div>
    </a>
  </div>          
</section>



         <script type="text/javascript">
$("#button1").click(function() {
    $('html, body').animate({
        scrollTop: $("#go-to-form").offset().top
    }, 2000);
});
$("#button2").click(function() {
    $('html, body').animate({
        scrollTop: $("#go-to-form").offset().top
    }, 2000);
});
$("#button3").click(function() {
    $('html, body').animate({
        scrollTop: $("#go-to-form").offset().top
    }, 2000);
});

  </script>
