<section id="about" class="container content-section text-center">
  <div class="row">
    <h1 class="pitch"> WHAT WE CAN DO FOR YOUR CULTURE</h1>
    <a onclick="scroll(0,0)" ui-sref="capture"> 
      <div class="pull-left thumbnail-container tumbnail">
        <h3 class="title">Capture</h3>
        <img src="img/svg-capture.svg" class="svg  ">
        <div class="caption">
          <p class="channel-text">crowdsource photos, videos, and stories around company events, tradeshows, employee personalities, product releases and so much more </p>
        </div>
        <button id="button1" class="button-1">learn more</button>
      </div>
    </a>
    <a  onclick="scroll(100,0)" ui-sref="enhance">
      <div class="pull-left thumbnail-container tumbnail">
        <h3 class="title">Enhance</h3>
        <img  src="img/svg-flex.svg" class="svg">
        <div class="caption">
          <p class="channel-text">The people that work with help define 
          your brand. Enhance their day to day
          connections with each other and
          your organization by creating a private, visual community</p>
        </div>
        <button  id="button2" class="button-1">learn more</button>
      </div>
    </a>
    <a  onclick="scroll(0,0)" ui-sref="promote">
        <div class="pull-left thumbnail-container tumbnail">
          <h3 class="title">Promote</h3>
          <img src="img/svg-horn.svg" class="svg ">
          <div class="caption">
            <p class="channel-text">Take the content you’ve gathered 
            with your team and turn it into 
            brand stories that can be shared internally, across your website, and to your social media properties</p>
          </div>
          <button  id="button3" class="button-1">learn more</button>
        </div>
    </a>
  </div>          
</section>



