<div class="jumbotron" style="padding-left: 0px; padding-right: 0px;">
  <div class="container">
    <div class="masthead-content">    <p class="close " style="    font-size: 45px;
    text-align: right;
    width: 100%;" ui-sref="work" title="close">X</p>

      <div class="piece-1 active video video-embed" id="piece1" style="" title="Example">
        <iframe allowfullscreen="" class="" frameborder="0" height="100%" id="video" name="video" src="//player.vimeo.com/video/169595633?api=1" width="100%"></iframe>
      </div><br>
      <p class="example-title"><strong>BRAND</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nesciunt accusamus ut cupiditate vero culpa et necessitatibus aperiam accusantium itaque. Ut necessitatibus amet earum soluta,
      voluptas, iusto ex eaque assumenda!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum inventore sit cumque quaerat, aliquam velit molestias, tempore quis aperiam deleniti id non, magnam itaque nemo ullam vitae
      ratione, quasi maxime.</p><br>
      <p class="example-title"><strong>AWARDS</strong></p>
    </div>
  </div>
</div>