<div class="jumbotron" style="padding-left: 0px; padding-right: 0px;">
  <div class="container">
    <div class="masthead-content">    <p class="close " style="    font-size: 45px;
    text-align: right;
    width: 100%;" ui-sref="work" title="close">X</p>
            <div class="carousel slick-initialized slick-slider" data-reactid=".0.1">
                <button aria-label="Previous" class="slick-prev slick-arrow" data-role="none" role="button" style="display: block;" type="button" title="Previous">Previous</button>
                <div aria-live="polite" class="slick-list draggable">
                    

                    <div class="slick-track" role="listbox" style="opacity: 1; width: 4495px; transform: translate3d(-899px, 0px, 0px);">
                        <div aria-hidden="true" class="slide slick-slide slick-cloned" data-reactid=".0.1.$2" data-slick-index="-1" style="width: 899px;" tabindex="-1">


                        <img data-reactid=".0.1.$2.0" src="app/images/fig-1.png" style="height:341.03000000000003px;"></div>

                        <div aria-describedby="slick-slide00" aria-hidden="false" class="slide slick-slide slick-current slick-active" data-reactid=".0.1.$0" data-slick-index="0" role="option" style="width: 899px;"
                        tabindex="0">




                        <img data-reactid=".0.1.$0.0" src="app/images/fig-3.png" style="height:341.03000000000003px;"></div>

                        <div aria-describedby="slick-slide01" aria-hidden="true" class="slide slick-slide" data-reactid=".0.1.$1" data-slick-index="1" role="option" style="width: 899px;" tabindex="-1">



                        <img data-reactid=".0.1.$1.0" src="app/images/fig-3.png" style="height:341.03000000000003px;"></div>

                        <div aria-describedby="slick-slide02" aria-hidden="true" class="slide slick-slide" data-reactid=".0.1.$2" data-slick-index="2" role="option" style="width: 899px;" tabindex="-1">


                        <img data-reactid=".0.1.$2.0" src="app/images/fig-1.png" style="height:341.03000000000003px;"></div>

                        <div aria-hidden="true" class="slide slick-slide slick-cloned" data-reactid=".0.1.$0" data-slick-index="3" style="width: 899px;" tabindex="-1"><img data-reactid=".0.1.$0.0" src=
                        "app/images/fig-1.png" style="height:341.03000000000003px;"></div>
                    </div>
                </div><button aria-label="Next" class="slick-next slick-arrow" data-role="none" role="button" style="display: block;" type="button" title="Next">Next</button>
            </div>
            <div class="lightbox hide" data-reactid=".0.2"><img data-reactid=".0.2.0" src=""></div>
        </div>
        <div class="masthead-content">
            <br>
            <p class="example-title"><strong>BRAND</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nesciunt accusamus ut cupiditate vero culpa et necessitatibus aperiam accusantium itaque. Ut necessitatibus amet earum soluta, voluptas, iusto ex eaque assumenda!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum inventore sit cumque quaerat, aliquam velit molestias, tempore quis aperiam deleniti id non, magnam itaque nemo ullam vitae ratione, quasi maxime.</p><br>
            <p class="example-title"><strong>AWARDS</strong></p>
        </div>
    </div>
</div>