section#features-3 li:before
	color: #1F5F6C

section#features-3 li 
	padding-left: 1.2em

#features-3
	background-color: #2ea28e
	padding-top: 40px
	padding-bottom: 45px
	height: 740px
@media (max-width: 750px)
	#features-3
		height: 780px
@media (max-width: 550px)
	#features-3
		height: 1040px
.capture-title
	box-sizing: border-box
	color: rgb(63, 71, 79)
	display: block
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-size: 30px
	font-weight: bold
	height: 33px
	letter-spacing: 1px
	line-height: 33px
	margin-bottom: 35px
	margin-left: 0px
	margin-right: 0px
	margin-top: 0px
	text-align: center
	text-transform: uppercase

@media (max-width: 750px)
	.capture-title
		margin-bottom: 65px
@media (max-width: 650px)
	.capture-title
		margin-bottom: 100px

@media (max-width: 750px)
	.list-title2
		margin-top: 110px
		margin-bottom: 50px
		width: 100%
		font-size: 1.7em