ul.features-list > li 
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
	list-style: none
	text-align: left
	position: relative
	color: #fff
	margin-bottom: 20pt

ul.features-list > li:before 
	position: relative
	top: 6pt 
	font-family: FontAwesome /* FontAwesome or whatever */
	font-size: 1.8em
	display: inline-block
	width: 1.4em /* same as padding-left set on li */
	margin-left: -1.4em /* same as padding-left set on li */

.list-left 
	position: relative
	padding-top: 4%
	width: 50%
@media (max-width: 750px)
	.list-left 
		width: 60%
		font-size: .9em

.i-phone 
	left: -0.4%
	top: -42px

.iphone-container 
	position: relative
	width: 30%
	left: 60%

.iphone-frame 
	position: absolute
	width: 100%

.iphone-inner 
	position: absolute
	width: 87%
	left: 12.6%

.iphone-screenshot 
	position: absolute
	width: 100%
	margin-top: 34%
	left: 51%

h3.list-title 
	color: white
	text-align: left
	position: relative
	z-index: 10
	text-transform: lowercase
	display: block
	font-family: Roboto, sans-serif
	font-size: 21px
	height: 54px
	line-height: 30px
	list-style-image: none
	list-style-position: outside
	list-style-type: none
	position: relative
	text-align: left
	width: 100%



h3.list-title2 
	color: rgb(108, 116, 123)
	font-size: 2em
@media (max-width: 750px)
	h3.list-title2 
		margin-top: 50px
		margin-bottom: 20px
		font-size: 1.4em



.feature-1-title
	margin: 0 0 35px
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
	font-weight: 700
	font-size: 30px
	font-weight: bold
	height: 33px
	letter-spacing: 1px
	line-height: 33px
	text-align: left
	text-transform: uppercase

.blue-text 
	color: #219ab3
.blue-text-med 	
	color: #1C8296
.blue-text-light
	color: #E4FFFA


li.li 
	font-size: 1.5em

h3.list-title2 
	color: rgb(108, 116, 123)

ul.features-list > li 
	font-family: 'Roboto', sans-serif
	list-style: none
	text-align: left
	position: relative
	color: #fff
	margin-bottom: 20pt


	

		