
body, html
	background-color: black
	
body, html
	width: 100%


.container-fluid 
	padding-right: 0
	padding-left: 0



.elevator
	font-family: Avenir-Heavy
	font-size: 36px
	color: #FFFFFF
	line-height: 49px
	text-align: center
	min-height: 550px
	padding-top: 400px


@media (max-width: 540px)
	.elevator
		padding-top: 250px
		font-size: 24px



@media (max-width: 750px)
	.elevator
		padding: 11%
		padding-top: 339px

  		



.intro_logo 	
	width: 60%
	left: 20%
	position: absolute
	z-index: 3
	top: 90px
	
@media (max-width: 750px)
	.intro_logo 
		width: 100%
		left: 0
		top: 125px




.btn 
	text-transform: uppercase
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
	font-weight: 400
	-webkit-transition: all .3s ease-in-out
	-moz-transition: all .3s ease-in-out
	transition: all .3s ease-in-out


.btn-default 
	border: 1px solid #219ab3
	color: #fff
	background-color: transparent


.btn-default:hover,
.btn-default:focus 
	border: 1px solid #219ab3
	outline: 0
	color: #000
	background-color: #219ab3


