
body, html
	background-color: black
	
body, html
	width: 100%

.container-fluid 
	padding-right: 0
	padding-left: 0

.btn 
	text-transform: uppercase
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
	font-weight: 400
	-webkit-transition: all .3s ease-in-out
	-moz-transition: all .3s ease-in-out
	transition: all .3s ease-in-out


	.btn-default 
	border: 1px solid #219ab3
	color: #fff
	background-color: transparent


.btn-default:hover,
.btn-default:focus 
	border: 1px solid #219ab3
	outline: 0
	color: #000
	background-color: #219ab3


.intro_image
	width: 100%
	margin-bottom: -4px

.intro_logo 	
	width: 60%
	left: 20%
	position: absolute
	z-index: 3
	top: 90px
	
.elevator
	font-family: Avenir-Heavy
	font-size: 36px
	color: #FFFFFF
	line-height: 49px
	position: absolute
	top: 326px
	text-align: center
	width: 60%
	left: 20%
