header
    margin-bottom: 60px

.email-input
    display: inline

.email-button
    position: fixed  
    left: -50px  
    top: 3px
    width: 77px
    font-size: 1.1em
    background-color: transparent
    background-color: #279dc1
    color: rgb(62, 71, 78)
    border: none
    border-radius: 0

@media (max-width: 850px)
    .email-input
        display: none

.nav-container
    width: 100%
    position: fixed
    z-index: 999
    height: 61px
    background-color: rgb(63, 72, 79)
    opacity: .98
    border-bottom: 3px solid rgba(255,255,255,.3)
.open > .dropdown-menu 
    opacity: .95
    font-family: $roboto
.nav > li > a
    padding: 22px 32px
@media (max-width: 950px)
    .nav > li > a
        padding: 22px 20px
@media (max-width: 750px)
    .nav > li > a
        padding: 22px 9px
@media (max-width: 550px)
    .nav > li > a
        padding: 22px 5px

.navbar-custom 
    margin-bottom: 0
    text-transform: uppercase
    font-family: $roboto
    font-weight: 300

.navbar-custom .navbar-brand 
    font-weight: 700

.navbar-custom .navbar-brand:focus 
    outline: 0

.navbar-custom .navbar-brand .navbar-toggle 
    padding: 4px 6px
    font-size: 16px
    color: gray

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active 
    outline: 0

.navbar-custom a 
    color: #279dc1

.dropdown-menu > li > a 
    font-weight: 200
    line-height: 1.5
    color: #333
    white-space: nowrap
    font-size: 1.34em

.navbar-custom .nav li.active 
    outline: none
    border: 2px solid rgba(255,255,255,.3)

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active 
    outline: 0
    border: 2px solid rgba(255,255,255,.3)

.nav>li>a:focus, .nav>li>a:hover
    background-color: none
@media(min-width: 767px) 

    .navbar 
        padding: 20px 0
        border-bottom: 0
        letter-spacing: 1px
        background: 0 0
        transition: background .5s ease-in-out,padding .5s ease-in-out

    .top-nav-collapse 
        padding: 0
    

    .navbar-custom.top-nav-collapse 
        border-bottom: 1px solid rgba(255,255,255,.3)

@media (max-width: 750px)
    .navbar-custom
        font-size: .93em
        width: 100%






.button-form
    position: relative
    top: -40px
    height: 32px
    width: 118px
    border-radius: 0

.button-nav-form
    -webkit-background-clip: border-box
    -webkit-background-origin: padding-box
    -webkit-background-size: auto
    -webkit-font-smoothing: antialiased
    -webkit-user-select: none
    background-attachment: scroll
    background-clip: border-box
    background-color: $blue
    background-image: none
    background-origin: padding-box
    background-size: auto
    border-bottom-color: rgb(255, 255, 255)
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
    border-bottom-style: none
    border-bottom-width: 0px
    border-image-outset: 0px
    border-image-repeat: stretch
    border-image-slice: 100%
    border-image-source: none
    border-image-width: 1
    border-left-color: rgb(255, 255, 255)
    border-left-style: none
    border-left-width: 0px
    border-right-color: rgb(255, 255, 255)
    border-right-style: none
    border-right-width: 0px
    border-top-color: rgb(255, 255, 255)
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    border-top-style: none
    border-top-width: 0px
    color: rgb(255, 255, 255)
    cursor: pointer
    display: inline-block
    font-family: 'Open Sans', arial, sans-serif
    font-size: 25px
    font-style: normal
    font-variant: normal
    font-weight: 600
    height: 24px
    line-height: 24.6399993896484px
    margin-top: 30px
    padding-bottom: 40px
    padding-left: 26px
    padding-right: 26px
    padding-top: 16px
    text-align: center
    text-decoration: none
    text-shadow: rgba(0, 0, 0, 0.0784314) 0px -1px 0px
    opacity: .95
.button-nav-form:hover
    opacity: 1
    transition: .5s
    
