section#features-2 li:before 
	color: #219ab3
	
section#features-2 li
	padding-left: 1.2em

#features-2 
	background: #eb7260
	padding-top: 40px
	padding-bottom: 50px
	border-top: 1px solid rgb(239, 139, 139)
	height: 740px
@media (max-width: 450px)
	#features-2 
		height: 925px
@media (max-width: 370px)
	#features-2 
		height: 1050px

.features-section-2 
	background: #eb7260
	
#phone-2 
	border: 0px
#phone-2:hover 
	border: 1px solid transparent

h3.list-title2 
	color: rgb(108, 116, 123)
	
.salmon
	color: rgb(63, 71, 79)
	display: block
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-size: 30px
	font-weight: bold
	height: 33px
	letter-spacing: 1px
	line-height: 33px
	margin-bottom: 35px
	margin-left: 0px
	margin-right: 0px
	margin-top: 0px
	text-align: center
	text-transform: uppercase