.how-it-works-mobile 
	display: none


.how-it-works
	margin-top: -6%


.amazing-1
	background-color: #279DC1
	width: 100%
	border: 1px solid #979797
	min-height: 300px
	text-align: center
	color: white

.amazing-2
	background: #f49967
	border: 1px solid #979797
	
	width: 100%
	font-family: Avenir-BookOblique
	font-size: 20px
	color: #3B4044
	line-height: 27px








.intro-1
	min-height: 300px
	text-align: center
	color: white
	line-height: 43px
	font-family: Avenir-Heavy
	font-size: 36px
	color: #3B4044
	line-height: 49px
.intro-2
	font-family: Avenir-BookOblique
	font-size: 20px
	font-family: LucidaGrandeUI
	font-size: 36px
	color: #FFFFFF
	line-height: 43px

	min-height: 300px
	text-align: center


