.how-it-works-mobile 
	display: none

section#about 
	background-color: #BD58C0
	width: 100%
.thumbnail
	background-color: #D8D8D8
	border: 1px solid #979797
	border-radius: 50%
	width: 100%
	padding-bottom: 100%
	height: 100%


.circle-container 
	width: 25%
	height: 300px
	display: inline-block

.intro2
	width: 100%
	height: 10%
	overflow: hidden

.intro2-section
	background-color: #279DC1
	min-height: 300px
	text-align: center
	color: white

.intro3-img
	width: 100%


.intro3-section
	background: #F49967
	border: 1px solid #979797
	min-height: 300px
	text-align: center
	color: white

.intro3-section p
	font-family: Avenir-BookOblique
	font-size: 20px
	color: #3B4044
	line-height: 27px

.intro2-section p
	line-height: 43px
	font-family: Avenir-Heavy
	font-size: 36px
	color: #3B4044
	line-height: 49px
	position: relative
	top: -200px


.intro2-section-quotes
	font-family: LucidaGrandeUI
	font-size: 36px
	color: #FFFFFF
	line-height: 43px
	display: inline
	position: relative
	top: -60px

.intro-3-callaction
	font-family: Avenir-Heavy
	font-size: 36px
	color: #FFFFFF
	line-height: 49px

input 
	border-radius: 5px
	color: #219ab3


input#Name.ng-invalid.ng-dirty 
	border: 1px solid red


input#Email.ng-invalid.ng-dirty 
	border: 1px solid red

input#Email.ng-invalid.ng-dirty:focus 
	border: 1px solid #219ab3


input:-webkit-autofill 
	-webkit-box-shadow: 0 0 0 50px white inset
	-webkit-text-fill-color: #219ab3
	border-bottom: 1px solid gray

form.ng-invalid > #submit 
	display: none

input:-webkit-autofill:focus 
	-webkit-box-shadow: 0 0 0 50px white inset
	-webkit-text-fill-color: #219ab3

form 
	padding: 5%

div.form-area 
	width: 50%

.form-control 
	color: #219ab3
#contact 
	background-color: #36424d
	padding-bottom: 20px
	border-bottom: 1px solid rgb(77, 90, 94)



.success-message 
	display: none
	position: absolute
	font-size: 1.4em
	width: 60%
	color: #219ab3
	text-align: center
	left: 20%
	
.success-display 
	display: block

