.how-it-works-mobile 
	display: none

section#about 
	background-color: #BD58C0
	width: 100%




div.thumbnail
	margin-bottom: none 
	line-height: none
	background-color: transparent
	border: none
	float: left
	display: inline
	width: 30%

.svg
	width: 75%

.intro2
	width: 100%
	height: 10%
	overflow: hidden

.intro2-section
	background-color: #279DC1
	min-height: 300px
	text-align: center
	color: white
#about
	display: block
.intro3-img
	width: 100%


.intro3-section
	background: #F49967
	border: 1px solid #979797
	min-height: 300px
	text-align: center
	color: white
	margin-top: -104px

.intro3-section p
	font-family: Avenir-BookOblique
	font-size: 20px
	color: #3B4044
	line-height: 27px
	width: 100%

.intro2-section p
	line-height: 43px
	font-family: Avenir-Heavy
	font-size: 36px
	color: #3B4044
	line-height: 49px
	position: relative
	top: -200px
	width: 100%
	text-align: center


.intro2-section-quotes
	font-family: LucidaGrandeUI
	font-size: 36px
	color: #FFFFFF
	line-height: 43px
	display: inline
	position: relative
	top: -90px

.intro-3-callaction
	font-family: Avenir-Heavy
	font-size: 36px
	color: #FFFFFF
	line-height: 49px
	top: -129px
	text-align: center
	position: relative

.channel-text

	font-family: Avenir-Light
	font-size: 14px
	color: #FFFFFF
	line-height: 19px
h1.pitch
	font-family: Avenir-Heavy
	font-size: 48px
	color: #FFFFFF
	line-height: 66px
	width: 50%
	position: relative
	left: 25%

h3.title
	font-family: Avenir-Heavy
	font-size: 48px
	color: #FFFFFF
	line-height: 66px

input 
	border-radius: 5px
	color: #219ab3

.amazing-quote
	font-family: Sans-serif
	font-size: 36px
	color: #FFFFFF
	line-height: 43px
	width: 90%
	left: 5%
	position: relative
.channel-text 
	font-family: Avenir-Light
	font-size: 14px
	color: #FFFFFF
	line-height: 19px

input#Name.ng-invalid.ng-dirty 
	border: 1px solid red


input#Email.ng-invalid.ng-dirty 
	border: 1px solid red

input#Email.ng-invalid.ng-dirty:focus 
	border: 1px solid #219ab3


input:-webkit-autofill 
	-webkit-box-shadow: 0 0 0 50px white inset
	-webkit-text-fill-color: #219ab3
	border-bottom: 1px solid gray

form.ng-invalid > #submit 
	display: none

input:-webkit-autofill:focus 
	-webkit-box-shadow: 0 0 0 50px white inset
	-webkit-text-fill-color: #219ab3

form 
	padding: 5%

div.form-area 
	width: 50%

.form-control 
	color: #219ab3
#contact 
	background-color: #36424d
	padding-bottom: 20px
	border-bottom: 1px solid rgb(77, 90, 94)



.success-message 
	display: none
	position: absolute
	font-size: 1.4em
	width: 60%
	color: #219ab3
	text-align: center
	left: 20%
	
.success-display 
	display: block

