.channel-text 
	font-family: Avenir-Light
	font-size: 14px
	color: #FFFFFF
	line-height: 19px
	width: 70%
	position: relative
	left: 14.5%

h1.pitch
	font-family: Avenir-Heavy
	font-size: 48px
	color: #FFFFFF
	line-height: 56px
	position: relative
	display: block
	padding: 3%
@media (max-width: 750px)
	h1.pitch
		width: 100%
		left: 0%
		font-size: 28px

h3.title
	font-family: Avenir-Heavy
	font-size: 48px
	color: #FFFFFF
	line-height: 66px
@media(max-width:750px) 
	h3.title
		font-size: 20px

section#about 
	width: 100%

div.thumbnail
	margin-bottom: none 
	line-height: none
	background-color: transparent
	border: none
	float: left
	display: inline
	width: 30%
	background-color: #BD58C0


.thumbnail-container
	width: 33%; 
	padding: 2%;
@media(max-width:750px) 	
	.thumbnail-container
		width: 100% 

.svg
	width: 75%
	
#about
	display: block
	background-color: #BD58C0