.channel-text 
	font-family: Avenir-Light
	font-size: 14px
	color: #FFFFFF
	line-height: 19px
	width: 70%
	position: relative
	left: 14.5%



h1.pitch
	font-family: Avenir-Heavy
	font-size: 48px
	color: #FFFFFF
	line-height: 66px
	width: 50%
	position: relative
	left: 25%
	display: block



h3.title
	font-family: Avenir-Heavy
	font-size: 48px
	color: #FFFFFF
	line-height: 66px


section#about 

	width: 100%




div.thumbnail
	margin-bottom: none 
	line-height: none
	background-color: transparent
	border: none
	float: left
	display: inline
	width: 30%
	background-color: #BD58C0

.svg
	width: 75%
#about
	display: block