<meta name="About | FCB New York" content="About | FCB New York" />
<title>About | FCB New York</title>
<meta property='og:title' content="Contact FCB New York to learn about career opportunities." />
<div class="jumbotron" style="padding-left: 0px; padding-right: 0px;">
  <div class="container">
    <div class="masthead-content">
      <h1 class="about-header">Who we are</h1>
      <p>The world doesn’t need another ad agency. What it does need are problem solvers. Storytellers. Innovators and visionaries. It needs bravery, creativity and a willingness to change. To try new things. To challenge things. It needs those who never give up. Those who question everything and never rest on their laurels. And at FCB New York, we’ve walked the walk longer than any other agency in the world, constantly reinventing ourselves to better serve our clients, adapting to the ever-changing world around us by always looking to be better than we were the day before.
      </p>
      <p>So let’s dispense with all the marketing jargon and the promises and just get down to business. Your business. Let’s throw out the playbook and create our own. Let’s dream big and then do big. Then let’s do it again and again. Because success isn’t the finish line. It’s merely the first chapter of a much greater story. A story we look forward to writing together.
      </p>
    </div>
  </div>
</div>
<div class="about-menu">
  <div class="container">
    <div class="col-md-12" id="leadership-section">
      <ul>
        <li class="leadership-btn active"><h4 style="cursor:pointer">LEADERSHIP</h4></li>
        <li class="office-btn"><h4 style="cursor:pointer">OFFICE</h4></li>
        <li class="clients-btn"><h4 style="cursor:pointer">CLIENTS</h4></li>
      </ul>
    </div>
  </div>
</div>
<div class="leadership">
  <div class="container">
    <!--<div id="leadership" class="row body leadership">
    </div>-->
      <div class="col-xs-6 col-md-4"><a ui-sref="karyn-rockwell" title="Karyn Rockwell, CEO | FCB New York" onclick="scroll(0,0)"><img src="app/images/leadership/karyn-rockwell.jpg" width="500"></a></div>
      <div class="col-xs-6 col-md-4"><a ui-sref="deb-freeman" title="Deb Freeman, CSO | FCB New York" onclick="scroll(0,0)"><img src="app/images/leadership/deb-freeman.jpg" width="500"></a></div>
      <div class="col-xs-6 col-md-4"><a ui-sref="ari-halper" title="Ari Halper, CCO | FCB New York" onclick="scroll(0,0)"><img src="app/images/leadership/ari-halper.jpg" width="500"></a></div>
  </div>
</div>
<div class="about-menu">
  <div class="container">
    <div class="col-md-12" id="office-section">
      <ul>
        <li class="leadership-btn"><h4 style="cursor:pointer;">LEADERSHIP</h4></li>
        <li class="office-btn active"><h4 style="cursor:pointer">OFFICE</h4></li>
        <li class="clients-btn"><h4 style="cursor:pointer">CLIENTS</h4></li>
      </ul>
    </div>
  </div>
</div>
<div class="office">
  <div class="container">
    <!--<div class="col-md-12">
      <h4>Office</h4>
    </div>-->
    <div class="office-photos">
      <div class="office-photo-full" >
        <img src="app/images/office/office.jpg" width="1110" />
      </div>
  <!--<div class="office-photo-left">
        <img src="images/office/2-small.jpg" />
      </div>
      <div class="office-photo-right">
        <img src="images/office/3-small.jpg" />
      </div>
      <div class="office-photo-full">
        <img src="images/office/4-large.jpg" />
      </div>
      <div class="office-photo-full">
        <img src="images/office/5-large.jpg" />
      </div>
      <div class="office-photo-full">
        <img src="images/office/6-large.jpg" />
      </div>
      <div class="office-photo-left">
        <img src="images/office/7-small.jpg" />
      </div>
      <div class="office-photo-right">
        <img src="images/office/8-small.jpg" />
      </div>
      <div class="office-photo-full">
        <img src="images/office/9-large.jpg" />
      </div>-->
    </div>
  </div>
</div>
<div class="about-menu">
  <div class="container">
    <div class="col-md-12" id="clients-section">
      <ul>
        <li class="leadership-btn"><h4 style="cursor:pointer">LEADERSHIP</h4></li>
        <li class="office-btn"><h4 style="cursor:pointer">OFFICE</h4></li>
        <li class="clients-btn active"><h4 style="cursor:pointer">CLIENTS</h4></li>
      </ul>
    </div>
  </div>
</div>
<div class="clients">
  <div class="container">
    <!--<div class="col-md-12">
      <h4>Clients</h4>
    </div>-->
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/seaworld.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/lincoln-financial-group.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/fda.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/fpo.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/jamaica.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/fpo.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/busch-gardens.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/fpo.jpg">
</div>
<div class="logo">
  <span class="helper"></span>
  <img src="app/images/logos/fpo.jpg">
</div>
<!--<div class="col-md-12">
      <p>American Standard</p>
      <p>Busch Gardens</p>
      <p>FDA</p>
      <p>Fig Newtons</p>
      <p>Jamaica</p>
      <p>Lincoln Financial</p>
      <p>MPowerd</p>
      <p>Oreo</p>
      <p>SeaWorld </p>
    </div>-->
  </div>
</div>

  <!-- <script type="text/javascript" src="libs/chronos.js"></script> -->

  <script type="text/javascript">
  //Scroll to Sections
  $(".leadership-btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#leadership-section").offset().top},
        'slow');
    $("#leadership-section .leadership-btn").css("color","#d72037");
    //$("#office-section .office-btn").css("color","#302a29");
    //$("#clients-section .clients-btn").css("color","#302a29");
  });
  $(".office-btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#office-section").offset().top},
        'slow');
    $("#office-section .office-btn").css("color","#d72037");
    //$("#leadership-section .leadership-btn").css("color","#302a29");
    //$("#clients-section .clients-btn").css("color","#302a29");
  });
  $(".clients-btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#clients-section").offset().top},
        'slow');
    $("#clients-section .clients-btn").css("color","#d72037");
    //$("#leadership-section .leadership-btn").css("color","#302a29");
    //$("#office-section .office-btn").css("color","#302a29");
  });
  </script>