<div class="jumbotron news-jumbotron" style="">
  <div class="container">
    <div class="masthead-content">
      <h1>News</h1>
    </div>
  </div>
</div>
<div class="news">
  <div class="container">
    <div class="col-sm-4">
    <!--<a href="http://www.adweek.com/news/advertising-branding/fcbs-creative-chief-sets-out-establish-more-collaborative-culture-171228" target="_blank" title="FCB's Creative Chief Sets Out to Establish a More Collaborative Culture">-->
    <img src="app/images/news/news-headline-1.jpg" width="500"><!--</a>--></div>
    <div class="col-sm-8" title="FCB's Creative Chief Sets Out to Establish a More Collaborative Culture"><a  style="cursor:pointer"href="http://www.adweek.com/news/advertising-branding/fcbs-creative-chief-sets-out-establish-more-collaborative-culture-171228" target="_blank" id="articleCreativeChief"><h1 class="fade-in">FCB's Creative Chief Sets Out to Establish a More Collaborative Culture</h1></a>
      <p><strong>Adweek</strong> May. 9, 2016</p>
    </div>
  </div>
</div>
<div class="news" >
  <div class="container">
    <div class="col-sm-4"><!--<a href="http://www.adweek.com/news/advertising-branding/5-reasons-marketers-have-largely-overlooked-generation-x-170539" target="_blank" title="5 Reasons Marketers Have Largely Overlooked Generation X">--><img src="app/images/news/news-headline-2.jpg" width="500"><!--</a>--></div>
    <div class="col-sm-8" title="5 Reasons Marketers Have Largely Overlooked Generation X">
    <a style="cursor:pointer" href="http://www.adweek.com/news/advertising-branding/5-reasons-marketers-have-largely-overlooked-generation-x-170539" target="_blank" id="article5Reasons "><h1 class="fade-in">5 Reasons Marketers Have Largely Overlooked Generation X</h1></a>
      <p><strong>Adweek</strong> Apr. 4, 2016</p>
    </div>
  </div>
</div>
<div class="news">
  <div class="container">
    <div class="col-sm-4">
    <!--<a href="http://www.adweek.com/news/advertising-branding/deb-freeman-lead-strategy-fcb-garfinkel-169117" target="_blank" title="Deb Freeman to Lead Strategy at FCB Garfinkel">-->
    <img src="app/images/news/news-headline-3.jpg" width="500"><!--</a>--></div>
    <div class="col-sm-8" title="Deb Freeman to Lead Strategy at FCB Garfinkel"><a  style="cursor:pointer" href="http://www.adweek.com/news/advertising-branding/deb-freeman-lead-strategy-fcb-garfinkel-169117" target="_blank" id="articleDebFreeman"><h1 class="fade-in">Deb Freeman to Lead Strategy at FCB Garfinkel</h1></a>
      <p><strong>Adweek</strong> Jan. 21, 2016</p>
    </div>
  </div>
</div>